* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1280px;
    /* border: 1px solid black; */
}

.logo {
    color: rgba(0, 0, 0, 1);
    font-size: 80px;
    text-decoration: none;
    margin: 63px 0 40px;
    display: block;
}

.highlighted-text {
    color: rgba(75, 202, 255, 1);
}

.header-menu {
    display: flex;
    justify-content: center;
    background: #35444F;
}

.header-menu a {
    font-size: 24px;
    line-height: 28px;
    padding: 20px 40px;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    /* background:  #35444F; */
}

.header-menu a:first-child {
    border-left: 1px solid #FFFFFF;
}

.header-menu a:hover {
    background: #222F3A;
}

aside {
    border: 1px solid #000000;
}

main {
    /* background: blue; */
}

footer {
    background: rgba(99, 105, 110, 0.48);
}

.wrapper {
    display: flex;
    align-items: start;
    padding: 50px 0 20px;
}

.nav-aside a {
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding: 25px 44px;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: #485863;
    min-width: 338px;
    transition: padding .3s ease;
}

.nav-aside a:hover {
    background: #DBDBDB;
    padding-left: 88px;
}

main {
    margin-left: 52px;
}

.main-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
    border: 1px solid #000000;
    height: 530px;
}

.main-pic img {
    transition: all .3s ease;
}

.main-pic:hover img {
    transform: scale(1.1);
}

main p {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 34px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding: 20px 40px;
    margin-bottom: 30px;
}

.menu-footer {
    margin: 0 -25px;
}

.menu-footer a {
    text-decoration: none;
    color: #010101;
    margin: 0 25px;
    padding: 8px 0;
}

.menu-footer a:hover {
    color: rgba(49, 129, 166, 1);
    border-bottom: 1px solid #3181A6;
}